
<div id="footer">
  <p><form style="display: inline" action="http://chappers.github.io/feed.xml" method="get"><button>RSS</button></form>
   ::
  <a href="http://chappers.github.io/">home</a>
   :: 
  <a href="http://chappers.github.io/archive/">archive</a>
   :: 
  <a href="http://chappers.github.io/portfolio/">portfolio</a>
   ::
  <a href="http://chappers.github.io/about/">about</a>
   ::
  <a href="http://chappers.github.io/thoughtlog/">thoughtlog</a>
   <!--::
  <a href="http://chappers.github.io/WritingDrafts/">writing drafts</a> -->
</p>
</div>
